<section class="publications-list">

  <article class="publication-entry">
    <h2>
      <strong>ADAPT: Adaptive Depth Agnostic Patch-wise Tunable Multibeamformer</strong>
      <a href="https://arxiv.org/abs/2509.01082" target="_blank" rel="noopener noreferrer">Link</a>
    </h2>
    <p><strong>Gopika Gopikrishnan</strong>, Mahesh Raveendranatha Panicker, Timothy Liu, Ng Aik Beng, Simon Chong-Wee See</p>
    <p><em>Accepted at ISBI 2026.</em></p>
  </article>

  <article class="publication-entry">
    <h2>
      <strong>Compact Planar Multiresonator with High Surface Encoding Capacity for Chipless RFID Tag Applications</strong>
      <a href="https://www.sciencedirect.com/science/article/pii/S2590123025024181" target="_blank" rel="noopener noreferrer">Link</a>
    </h2>
    <p><strong>Gopika Gopikrishnan</strong>, Sumi M, Harikrishnan AI, Lija Arun, Saranya R, Vinod G</p>
    <p><em>Published in Results in Engineering.</em></p>
  </article>

  <article class="publication-entry">
    <h2>
      <strong>Planar U-Shaped Slot Multiresonator-based Chipless RFID Tags</strong>
      <a href="https://doi.org/10.1109/AIIoT58432.2024.10574544" target="_blank" rel="noopener noreferrer">Link</a>
    </h2>
    <p><strong>Gopika Gopikrishnan</strong>, Sumi M, Harikrishnan AI, Saranya R, Vinod G</p>
    <p><em>Published at AIIoT 2024.</em></p>
  </article>

</section>